
ENM/.Rhistory

ENM/fct/.Rhistory

*.tif

*.png

*.txt

ENM/models/

Layer_preparation/

final_layers/

*~

ENM/.RData

ENM/.Rproj.user/6928E7F1/sdb/prop/125B864C

*.Rproj

*.adf

*.aux

*.xml

*.dat

ENM/.Rproj.user/6928E7F1/sdb/prop/53DF74C

ENM/.Rproj.user/6928E7F1/sdb/prop/85EC58F3

ENM/.Rproj.user/6928E7F1/sdb/prop/INDEX

ENM/.Rproj.user/6928E7F1/sdb/prop/F0844EE8

ENM/.Rproj.user/6928E7F1/sdb/prop/E28EE5C

ENM/.Rproj.user/6928E7F1/sdb/prop/B3C15B25

ENM/.Rproj.user/6928E7F1/sdb/per/t/68D7B4E

ENM/.Rproj.user/6928E7F1/sdb/per/t/480A71A2

*.pper

ENM/.Rproj.user/6928E7F1/saved_source_markers
ENM/env/1Km_.eigenvariables.gri
ENM/env/1Km_.eigenvariables.grd
.Rproj.user


ENM/data/registrosnomesfinais.csv

ENM/data/Atlantic_Domain_Ari_RevTaxon_Final.csv

